<!DOCTYPE html>
<html>
<header>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mate.css">
    <link rel="stylesheet" href="/css/mypage.css">
</header>
<!-- Tabs -->

<body>
    <section id="tabs">
        <div class="container">
            <div class="brand_logo_container" align="center">
                <img src="/img/fourflix_logo.png" class="brand_logo" alt="Logo" style=" border-radius: 25px;">
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-home-tab" href="/mate">Mate 찾기</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" href="/community">게시판</a>
                            <a class="nav-item nav-link active" id="nav-contact-tab" href="/mypage">마이페이지</a>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <div style="padding: 55px 92px 100px 68px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="border: #c0392b 0.5px solid;">
                        <a type="button" class="btn btn-default">
                            <div class="card-content">
                                <div class="card-header-blue" align="center">
                                    <h4 class="card-heading">충전하기</h4>
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </div>
                                <div class="card-body">
                                    <p class="card-p">

                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="border: #c0392b 0.5px solid;">
                        <a type="button" class="btn btn-default">
                            <div class="card-content">
                                <div class="card-header-blue" align="center">
                                    <h4 class="card-heading">환전하기</h4>
                                    <span class="glyphicon glyphicon-transfer" style="size: 10 10 10 10"></span>
                                </div>
                                <div class="card-body">
                                    <p class="card-p">

                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            보유 코인 100 MT
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>거래 내역</h4>
                <ul class="timeline">
                    <li>
                        <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
                        <a href="#" class="float-right">21 March, 2014</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi
                            semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula
                            in sodales vehicula....</p>
                    </li>
                    <li>
                        <a href="#">21 000 Job Seekers</a>
                        <a href="#" class="float-right">4 March, 2014</a>
                        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis
                            vitae justo accumsan, sed semper nisi sollicitudin...</p>
                    </li>
                    <li>
                        <a href="#">Awesome Employers</a>
                        <a href="#" class="float-right">1 April, 2014</a>
                        <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc
                            vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>